@media only screen and (max-width: 959px) { 
	
	body {
		margin: 0;
	}
	
	.cta_copy {
		margin-left: 0;
		grid-column: span 2;
		display: inline;
	}
	
	.cta_calendly {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column: span 2;
		margin-right: 0;
	}
	
	.footer_mail { 
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column: span 2;
		margin-right: 0;
		margin-bottom: 15px;
	}
	
	.footer_imprint { 
		grid-row-start: 6;
		grid-row-end: 7;
		grid-column: span 2;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 849px) { 
	
	.portfolio_photo,
	.portfolio_customers {
		margin-top: 50px;
	}
	
	.cta_copy {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 767) { 
	
	.portfolio_photo {
		grid-row-start: 2;
		grid-row-end: 3;
	
	}
	
	.portfolio_customers img {
		display: none; 
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column: span 2;
	}
	
}



