/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
	/** all margins and paddings gone **/
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #000000;
}

html,
body {
	color: #ffffff;
	font-family: 'Muli', sans-serif; 
	font-size: small;
	display: grid;
	place-items: center;
}  

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header { 
	display: grid; 
	grid-template-columns: 1100px;
	grid-template-rows: 1fr;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bio {
	place-self: center;
	text-align: center;
	line-height: 1.3;
}

/* ---------------------------------------------------- */
/* PORTFOLIO */
/* ---------------------------------------------------- */

.portfolio {
	display: grid; 
	grid-template-columns: 500px 100px 500px;
	grid-template-rows: 1fr;
	
}

.my_photo {
	width: 500px; 
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	place-self: center;
}

.customers {
	display: grid; 
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	grid-gap: 15px;
	place-self: center;
}

.customers img {
	width: 100px;
	-webkit-filter: gray;
	filter: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	place-self: center;
	-webkit-transition: width 0.3s, -webkit-filter 0.3s;
	transition: width 0.3s, -webkit-filter 0.3s;
	transition: width 0.3s, filter 0.3s;
	transition: width 0.3s, filter 0.3s, -webkit-filter 0.3s;
}

.customers_eckig { border-radius: 50%; }

.customers img:hover {
	width: 120px;
	-webkit-filter: none;
	filter: none;
	-webkit-transition: width 0.3s, -webkit-filter 0.3s;
	transition: width 0.3s, -webkit-filter 0.3s;
	transition: width 0.3s, filter 0.3s;
	transition: width 0.3s, filter 0.3s, -webkit-filter 0.3s;
}

/* ---------------------------------------------------- */
/* CALL-TO-ACTION */
/* ---------------------------------------------------- */

.call_to_action {
	display: grid;
	grid-template-columns: 500px 100px 500px;
	grid-template-rows: 1fr;
	margin-top: 20px;
}

.cta_copy {
	font-size: 14px;
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
	line-height: 1.5;
}

.cta_calendly {
	grid-column-start: 3;
	grid-column-end: 4;
	place-self: center;
}

.cta_calendly_link_button {
	color: #ffffff;
	padding: 16px 31px;
	text-decoration: none;
	background-color: #ffa700;
	font-size: 19px;
	font-weight: 700;
	place-self: center;
	border-radius: 28px;
	border: 1px solid #cc890a;
	cursor: pointer;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s;
}

.cta_calendly_link_button:hover {
	background-color: #d88d00;
	font-size: 21px;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s;
}

/* ---------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------- */

footer {
	display: grid;
	grid-template-columns: 1100px;
	grid-template-rows: 1fr;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer a {
	color: #ffff;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

footer a:hover {
	font-size: 15px;
	-webkit-transition: font-size 0.3s;
	transition: font-size 0.3s;
}


/* ---------------------------------------------------- */
/* IMPRESSUM DATENSCHUTZ HTML */
/* ---------------------------------------------------- */

.impressum_datenschutz {
	display: grid;
	grid-template-columns: 50px 1000px 50px;
	grid-template-rows: 100px 1fr 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.impressum_datenschutz_content {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.button_homepage_top {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.button_homepage_bottom {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.button_homepage_top, .button_homepage_bottom {
	color: #ffffff;
	padding: 16px 31px;
	text-decoration: none;
	background-color: #ffa700;
	font-size: 19px;
	font-weight: 700;
	place-self: center;
	border-radius: 28px;
	border: 1px solid #cc890a;
	cursor: pointer;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s;
}

.button_homepage_top:hover, .button_homepage_bottom:hover {
	background-color: #d88d00;
	font-size: 21px;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s;
}



















