/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
	/** all margins and paddings gone **/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #000000;
}

html,
body {
	color: #ffffff;
	font-family: 'Muli', sans-serif; 
	font-size: small;
}  

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header { 
	display: grid; 
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 20px; 
	margin-right: 50px;
}

.bio {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

/* ---------------------------------------------------- */
/* Portfolio */
/* ---------------------------------------------------- */

.portfolio {
	display: grid; 
	margin-left: 50px;
	margin-right: 50px;
	grid-template-columns: 1fr, 100px, 1fr;
	grid-template-rows: 1fr;
	
}

.my_photo {
	width: 500px; 
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.customers {
	display: grid; 
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	grid-gap: 15px;
}

.customers img {
	width: 100px;
	filter: gray;
    filter: grayscale(100%);
	place-self: center;
}

/* ---------------------------------------------------- */
/* Call-To-Action */
/* ---------------------------------------------------- */

.call_to_action {
	display: grid;
	grid-template-columns: 800px;
	grid-template-rows: 1fr;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.cta_copy {
	

}

.cta_calendly {
	grid-column-start: 2;
	grid-column-end: 3;
	place-self: center;
	size
}

.cta-book-call {
	
}

















