/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
	/** all margins and paddings gone **/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #000000;
}

html,
body {
	color: #ffffff;
	font-family: 'Muli', sans-serif; 
	font-size: small;
}  

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header { 
	display: grid; 
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-top: 20px;
	margin-left: 150px;
	margin-bottom: 20px; 
	margin-right: 150px;
}

.bio {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	place-self: center;
	text-align: center;
	line-height: 1.3;
}

/* ---------------------------------------------------- */
/* Portfolio */
/* ---------------------------------------------------- */

.portfolio {
	display: grid; 
	margin-left: 150px;
	margin-right: 150px;
	grid-template-columns: 1fr 100px 1fr;
	grid-template-rows: 1fr;
	
}

.my_photo {
	width: 500px; 
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	place-self: center;
}

.customers {
	display: grid; 
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	grid-gap: 15px;
	place-self: center;
}

.customers img {
	width: 100px;
	filter: gray;
    filter: grayscale(100%);
	place-self: center;
}

/* ---------------------------------------------------- */
/* Call-To-Action */
/* ---------------------------------------------------- */

.call_to_action {
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	grid-template-rows: 1fr;
	margin-top: 20px;
	margin-left: 150px;
	margin-right: 150px;
}

.cta_copy {
	font-size: 14px;
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
	line-height: 1.5;
}

.cta_calendly {
	grid-column-start: 3;
	grid-column-end: 4;
	place-self: center;
	background-color: #ffa700;
	border-radius: 28px;
	border: 1px solid #ed9e09;
	cursor: pointer;
	color: #ffffff;
	padding: 16px 31px;
}

.cta_calendly_link {
	color: #ffffff;
	padding: 16px 31px;
	text-decoration: none;
	background-color: #ffa700;
	font-size: 19px;
	font-weight: 700;
}

.call_to_action:hover {
	background-color: #ed9e09;
}

.call_to_action:active {
	position:relative;
	top:1px;
}














