/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
	/** all margins and paddings gone **/
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #000000;
}

body {
	color: #ffffff;
	font-family: 'Muli', sans-serif; 
	font-size: small;
	display: grid;
	grid-template-rows: 80px 1fr 80px;
}
/* ---------------------------------------------------- */
/* IMPRESSUM DATENSCHUTZ HTML */
/* ---------------------------------------------------- */

h1, h2, .impressum_content {
	text-align: center; 
}

.impressum_datenschutz {
	margin: 40px 120px 40px 120px;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.impressum_datenschutz_content { text-align: justify; }

.button_homepage_top {
	margin-top: 40px;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

.button_homepage_bottom {
	margin-bottom: 40px;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}

.button_homepage_top, .button_homepage_bottom {
	color: #ffffff;
	padding: 16px 31px;
	text-decoration: none;
	background-color: #ffa700;
	font-size: 19px;
	font-weight: 700;
	place-self: center;
	border-radius: 28px;
	border: 1px solid #cc890a;
	cursor: pointer;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s;
}

.button_homepage_top:hover, .button_homepage_bottom:hover {
	background-color: #d88d00;
	font-size: 21px;
	-webkit-transition: background-color 0.3s, font-size 0.3s;
	transition: background-color 0.3s, font-size 0.3s;
}
